@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

.App {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  background-color: #eceff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.App-header {
  width: 100%;
  max-width: 768px;
  margin: auto;
}
